#MyclassCard {
    background-image: url('https://cdn.discordapp.com/attachments/1071401485239332864/1117035208286425138/header1_2_2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}