#MyclassCard {
    background-image: url('https://cdn.discordapp.com/attachments/1071401485239332864/1123806857476198400/New_Project_64.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}