.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60px;
    width: 60px;
    box-sizing: content-box;
    padding: 10px;
}

.square {
    background-color: #ffffff;
    height: 20px;
    width: 20px;
    position: absolute;
}

.bsquare {
    background-color: #616161;
    height: 20px;
    width: 20px;
    position: absolute;
}

.blsquare {
    background-color: #30ffee;
    height: 20px;
    width: 20px;
    position: absolute;
}

.psquare {
    background-color: #ff13b0;
    height: 20px;
    width: 20px;
    position: absolute;
}

.square-1 {
    animation: load 2s infinite;
}

.square-2 {
    animation: load 2s infinite;
    animation-delay: 1s;
}

@keyframes load {
    0% {
        translate: 0px 0px;
        scale: 1;
        rotate: 0deg;
    }

    25% {
        translate: 40px 0px;
        scale: 0.5;
        rotate: -90deg;
    }

    50% {
        translate: 40px 40px;
        scale: 1;
        rotate: 180deg;
    }

    75% {
        translate: 0px 40px;
        scale: 0.5;
        rotate: 90deg;
    }
}