.loader {
    width: fit-content;
    font-weight: bold;
    font-size: 30px;
    background: radial-gradient(circle closest-side, rgb(204, 204, 204) 94%, #0000) right/calc(200% - 1em) 100%;
    animation: l24 1s infinite alternate linear;
}

.loader::before {
    content: "กำลังรับข้อมูล...";
    line-height: 1em;
    color: #0000;
    background: inherit;
    background-image: radial-gradient(circle closest-side, rgb(16, 84, 209) 94%,rgb(45, 118, 255));
    -webkit-background-clip: text;
    background-clip: text;
}

@keyframes l24 {
    100% {
        background-position: left
    }
}