.Navbutton {
    height: 3em;
    width: 8em;
    border: none;
    border-radius: 10px;
    background: #ffffff;
    font-size: 17px;
    color: #000000;
    font-weight: 500;
    margin: 0 auto;
    transition: 0.5s ease-out;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    vertical-align: baseline;
    margin-top: 10px;
}

.Navbutton span {
    display: inline-block;
}

.Navbutton:hover {
    background-color: rgb(45, 195, 255);
    color: white;
    animation: shake3856 0.3s linear infinite both;
}

@keyframes shake3856 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

.backBT {
    display: flex;
    height: 3em;
    width: 70px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    font-size: 12px;
    background: #fff;
    animation: slideInFromBottom 0.5s ease-out;
}

.backBT > span {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}

.backBT:hover > span {
    font-size: 1.2em;
    transform: translateX(-5px);
}

.backBT:hover {
    transform: translateY(-5px);
}

@keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
}