.sebutton {
    background: transparent;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 50px;
    padding: 0.8rem 2rem;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: 0.2s ease-in-out;
    font-size: 18px;
}

.name {
    width: 100%;
    text-align: center;
    padding: 0 0 3rem;
    padding-top: 4rem;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.sebutton-parrot .parrot {
    position: absolute;
    width: 60px;
    text-align: center;
    animation: blink 0.8s infinite;
    color: transparent;
}

.sebutton-parrot .parrot:before {
    content: "กดเลยๆ";
}

.sebutton-parrot .parrot:nth-child(1) {
    top: -30px;
    left: -40px;
    transform: rotate(-20deg);
    animation-duration: 0.5s;
}

.sebutton-parrot .parrot:nth-child(2) {
    right: -40px;
    top: -20px;
    transform: rotate(15deg);
    animation-duration: 0.3s;
}

.sebutton-parrot .parrot:nth-child(3) {
    top: -60px;
    left: 15px;
    transform: rotate(10deg);
    animation-duration: 1s;
}

.sebutton-parrot .parrot:nth-child(4) {
    top: -70px;
    left: 95px;
    transform: rotate(2deg);
    animation-duration: 0.7s;
}

.sebutton-parrot .parrot:nth-child(5) {
    top: 80px;
    left: 105px;
    transform: rotate(-20deg);
    animation-duration: 0.8s;
}

.sebutton-parrot .parrot:nth-child(6) {
    top: 80px;
    left: 5px;
    transform: rotate(10deg);
    animation-duration: 1.2s;
}

.sebutton-parrot button:hover .parrot:before {
    content: "ใช่ๆ";
    width: 70px;
}

@keyframes blink {

    25%,
    75% {
        color: transparent;
    }

    40%,
    60% {
        color: #fff;
    }
}